extends ../layout

block content
    a(href= '/bicicletas') Volver

    br
    br
    br

    h1 nueva bicicleta

    br
    br

    form(action="/bicicletas/create", method="post")
        label(for="id") ID:
        input#id(type="text", name="id")
        label(for="color") Color:
        input#color(type="text", name="color")
        label(for="modelo") Modelo:
        input#modelo(type="text", name="modelo")
        label(for="lat") Latitud:
        input#lat(type="text", name="lat")
        label(for="lon") Longitud:
        input#lon(type="text", name="lon")
        br
        br
        input(type="submit", value="ok")