extends ../layout

block content
    a(href= '/bicicletas') Volver

    br
    br
    br

    h1 Actualizar

    br
    br

    form(action=`/bicicletas/${bici.id}/update`, method="post")
        label(for="id") ID:
        input#id(type="text", name="id" value = bici.id)
        label(for="color") Color:
        input#color(type="text", name="color" value = bici.color)
        label(for="modelo") Modelo:
        input#modelo(type="text", name="modelo" value = bici.modelo)
        label(for="lat") Latitud:
        input#lat(type="text", name="lat" value = bici.ubicacion[0])
        label(for="lon") Longitud:
        input#lon(type="text", name="lng" value = bici.ubicacion[1])
        br
        br
        input(type="submit", value="ok")